<td><%= Song.find(song.first).display_name %></td>
<td class="vote_type"><%= render voter_type_path, :song => song %></td>
<% if current_user and current_user.dj? %>
	<td><%= song.last %></td>
<% end %>