<tr>
  <td><%= Song.find(song.first).display_name %></td>
  <td><%= link_to '+1', votes_path(:chart_id => @chart.id, :voter_name => voter_name, :display_name => Song.find(song.first).display_name), :method => 'post', :remote => true %></td>
  <td><%= song.last %></td>
</tr>