<div class="well jetstrap-highlighted dnp_chart">
	<h3>
		<%= @chart.name %>'s DO NOT PLAY chart
	</h3>
	<table>
		<thead>
			<tr>
				<th>
					Artist - Song Title
				</th>
			</tr>
		</thead>
		<tbody id = "do_not_play_chart_songs">
			<% @display.each do |chart_song| %>
				<tr id="dnp_<%=chart_song.first%>">
				<%= render "static_pages/chart_song", :song => chart_song, :voter_name => @voter_name, :this_chart_id => @chart.id if chart_song.last == "Do not play!"%>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>