<div class="well jetstrap-highlighted">
	<h3>
		<%= this_chart_name %>'s chart
	</h3>
	<table class="table">
		<thead>
			<tr>
				<th>
					Artist - Song Title
				</th>
				<th>
					<%= chart_message %>
				</th>
			</tr>
		</thead>
		<tbody id ="chart_songs">
			<% display.each do |chart_song| %>
				<tr id="<%=chart_song.first%>">
				<%= render "static_pages/chart_song", :song => chart_song, :voter_name => voter_name, :this_chart_id => this_chart_id unless chart_song.last == "Do not play!"%>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>