<div class="hero-unit">
	<h1>
		Couples
		<br>
	</h1>
	<p>
		Check out what your guests asked for, and veto the lame ones!
		<br>
	</p>
	<div id="chart_body">
		<%= render 'this_chart', :display => @display, :voter_name => @voter_name, :this_chart_id => @chart.id, :this_chart_name => @chart.name%>
		<%= render 'do_not_play_chart', :display => @display, :voter_name => @voter_name, :this_chart_id => @chart.id, :this_chart_name => @chart.name%>
	</div>
	
	<% if current_user %>
		<%= link_to "Save and sign out", destroy_user_session_path, :method => :delete %>
	<% end %>
</div>