    <h1 class="text-center">
    	Crowd Control
    	<br>
    </h1>
    <div class="hero-unit">
    	<h1>
    		Couples
    		<br>
    	</h1>
    	<p>
    		Check out what your guests asked for, and veto the lame ones! Also browse our 80% list and Like + Love tracks!
    		<br>
    	</p>
    	<div class="well">
    		<h3>80% list</h3>
    		<table class="table">
    			<tbody>
    				<tr>
    					<td>
    						Song 1 <br> <a class="btn">Hell no!</a> <a class="btn">Fine, if guests really want it</a> <br> <a class="btn">Like!</a> <a class="btn">Love!</a>
    					</td>
    					<td>
    						Song 2 <br> <a class="btn">Hell no!</a> <a class="btn">Fine, if guests really want it</a> <br> <a class="btn">Like!</a> <a class="btn">Love!</a>
    					</td>
    					<td>
    						Song 3 <br> <a class="btn">Hell no!</a> <a class="btn">Fine, if guests really want it</a> <br> <a class="btn">Like!</a> <a class="btn">Love!</a>
    					</td>
    				<tr>
    				<tr>
    					<td>
    						Song 4 <br> <a class="btn">Hell no!</a> <a class="btn">Fine, if guests really want it</a> <br> <a class="btn">Like!</a> <a class="btn">Love!</a>
    					</td>
    					<td>
    						Song 5 <br> <a class="btn">Hell no!</a> <a class="btn">Fine, if guests really want it</a> <br> <a class="btn">Like!</a> <a class="btn">Love!</a>
    					</td>
    					<td>
    						Song 6 <br> <a class="btn">Hell no!</a> <a class="btn">Fine, if guests really want it</a> <br> <a class="btn">Like!</a> <a class="btn">Love!</a>
    					</td>
    				<tr>
    				<tr>
    					<td>
    						Song 4 <br> <a class="btn">Hell no!</a> <a class="btn">Fine, if guests really want it</a> <br> <a class="btn">Like!</a> <a class="btn">Love!</a>
    					</td>
    					<td>
    						Song 5 <br> <a class="btn">Hell no!</a> <a class="btn">Fine, if guests really want it</a> <br> <a class="btn">Like!</a> <a class="btn">Love!</a>
    					</td>
    					<td>
    						Song 6 <br> <a class="btn">Hell no!</a> <a class="btn">Fine, if guests really want it</a> <br> <a class="btn">Like!</a> <a class="btn">Love!</a>
    					</td>
    				<tr>
    			</tbody>
    		</table>
    	</div>
    	<div class="well">
    		<h3>
    			Request chart
    		</h3>
    		<table class="table">
    			<tbody>
    				<tr>
    					<td>
    						1. Pitbull - Don't Stop the Party
    					</td>
    					<td>
    						Mom
    					</td>
    					<td>
    						5
    					</td>
    					<td>
 							<a class="btn">VETO! DO NOT PLAY THIS!</a>
    					</td>
    				</tr>
    				<tr>
    					<td>
    						2. J-Lo - I'm Real
    					</td>
    					<td>
    						Joe
    					</td>
    					<td>
    						2
    					</td>
    					<td>
 							<a class="btn">VETO! DO NOT PLAY THIS!</a>
    					</td>
    				</tr>
    				<tr>
    				</tr>
    				<tr>
    				</tr>
    			</tbody>
    			<thead>
    				<tr>
    					<th>
    						Artist - Song Title
    					</th>
    					<th>
    						First Requester
    					</th>
    					<th>
    						+1s
    					</th>	
    					<th>
    						Veto?
    					</th>
    				</tr>
    			</thead>
    		</table>
    	</div>
    </div>
