<div class="hero-unit">
	<h1>
		Floor Analytics
	</h1>
	
	<p>
		Hey <%= @dj.name %>, here's the word on the street
	</p>
	<!--
	<div class="alert">
		<h3>They tweeted you!</h3>
		<p>#couplesname - request</p>
	</div>
	-->
	<h3>Charts</h3>
	
	<div class="well">
		<div class="row">
			<% @couples.each do |couple| %>
				<div class="span2"><%= link_to couple.name, get_chart_path(name: couple.name, voter_name: @dj.name), :remote => true %></div>
			<% end %>
		</div>
	</div>
	
	<div id="chart_body">
	</div>
	
	<% if current_user %>
		<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
	<% end %>
</div>
