    <h1 class="text-center">
    	Crowd Control
    	<br>
    </h1>
    <div class="hero-unit">
    	<h1>
    		Floor Analytics
    		<br>
    	</h1>
    	<p>
    		Hey <%= @dj.name %>, here's the word on the street
    		<br>
    	</p>
    	<div class="alert">
    		<h3>
    			They tweeted you!
    			<br>
    		</h3>
    		<p>
    			#couplesname - request
    			<br>
    		</p>
    	</div>
    	<div class="well">
    		<h3>
    			Request chart
    			<br>
    		</h3>
    		<table class="table">
    			<tbody>
    				<tr>
    					<td>
    						1. Pitbull - Don't Stop the Party
    						<br>
    					</td>
    					<td>
    						<div class="btn-group">
    							<a href="#" class="btn">CLEARED</a>
    							<a href="#" class="btn">Tame</a>
    							<a href="#" class="btn">Solid</a>
    							<a href="#" class="btn">Picked up!</a>
    							<a href="#" class="btn">RAGE</a>
    						</div>
    						<br>
    						<br>
    						<div class="control-group">
    							<div class="controls">
    								<input type="text">
    							</div>
    						</div>
    					</td>
    				</tr>
    				<tr>
    					<td>
    						2. J-Lo - I'm Real
    						<br>
    					</td>
    					<td>
    						<div class="btn-group">
    							<a href="#" class="btn">CLEARED</a>
    							<a href="#" class="btn">Tame</a>
    							<a href="#" class="btn">Solid</a>
    							<a href="#" class="btn">Picked up!</a>
    							<a href="#" class="btn">RAGE</a>
    						</div>
    						<br>
    						<br>
    						<div class="control-group">
    							<div class="controls">
    								<input type="text">
    							</div>
    						</div>
    					</td>
    				</tr>
    				<tr>
    				</tr>
    				<tr>
    				</tr>
    			</tbody>
    			<thead>
    				<tr>
    					<th>
    						Artist - Song Title
    					</th>
    					<th>
    						Rate the reaction
    						<br>
    					</th>
    				</tr>
    			</thead>
    		</table>
    		<p>
    			<br>
    		</p>
    	</div>
    	<div class="well">
    		<h3>
    			Past gigs charts
    			<br>
    		</h3>
    		<table class="table">
    			<tbody>
    				<tr>
    					<td>
    						1. Old songs
    						<br>
    					</td>
    					<td>
    						<div class="btn-group">
    							<a href="#" class="btn">CLEARED</a>
    							<a href="#" class="btn">Tame</a>
    							<a href="#" class="btn">Solid</a>
    							<a href="#" class="btn">Picked up!</a>
    							<a href="#" class="btn">RAGE</a>
    						</div>
    						<br>
    						<br>
    						<div class="control-group">
    							<div class="controls">
    								<input type="text">
    							</div>
    						</div>
    					</td>
    				</tr>
    				<tr>
    					<td>
    						2. Another song from the database
    						<br>
    					</td>
    					<td>
    						<div class="btn-group">
    							<a href="#" class="btn">CLEARED</a>
    							<a href="#" class="btn">Tame</a>
    							<a href="#" class="btn">Solid</a>
    							<a href="#" class="btn">Picked up!</a>
    							<a href="#" class="btn">RAGE</a>
    						</div>
    						<br>
    						<br>
    						<div class="control-group">
    							<div class="controls">
    								<input type="text">
    							</div>
    						</div>
    					</td>
    				</tr>
    				<tr>
    				</tr>
    			</tbody>
    			<thead>
    				<tr>
    					<th>
    						Artist - Song Title
    					</th>
    					<th>
    						Rate the reaction
    						<br>
    					</th>
    				</tr>
    			</thead>
    		</table>
    		<p>
    			<br>
    		</p>
    	</div>
    	<div class="well">
    		<h3>
    			How's this gig going?
    			<br>
    		</h3>
    		<table class="table">
    			<tbody>
    				<tr>
    					<td>
    						1. New song
    						<br>
    					</td>
    					<td>
    						<div class="btn-group">
    							<a href="#" class="btn">CLEARED</a>
    							<a href="#" class="btn">Tame</a>
    							<a href="#" class="btn">Solid</a>
    							<a href="#" class="btn">Picked up!</a>
    							<a href="#" class="btn">RAGE</a>
    						</div>
    						<br>
    						<br>
    						<div class="control-group">
    							<div class="controls">
    								<input type="text">
    							</div>
    						</div>
    					</td>
    				</tr>
    				<tr>
    					<td>
    						2. Another new song
    						<br>
    					</td>
    					<td>
    						<div class="btn-group">
    							<a href="#" class="btn">CLEARED</a>
    							<a href="#" class="btn">Tame</a>
    							<a href="#" class="btn">Solid</a>
    							<a href="#" class="btn">Picked up!</a>
    							<a href="#" class="btn">RAGE</a>
    						</div>
    						<br>
    						<br>
    						<div class="control-group">
    							<div class="controls">
    								<input type="text">
    							</div>
    						</div>
    					</td>
    				</tr>
    			</tbody>
    			<thead>
    				<tr>
    					<th>
    						Artist - Song Title
    					</th>
    					<th>
    						Rate the reaction
    						<br>
    					</th>
    				</tr>
    			</thead>
    		</table>
    		<div class="control-group">
    			<label class="control-label">
    				Enter the song (Artist - Song Title):
    			</label>
    			<div class="controls">
    				<input type="text">
    			</div>
    		</div>
    		<div class="btn-group">
    			<a href="#" class="btn">CLEARED</a>
    			<a href="#" class="btn">Tame</a>
    			<a href="#" class="btn">Solid</a>
    			<a href="#" class="btn">Picked up!</a>
    			<a href="#" class="btn">RAGE</a>
    		</div>
    	</div>
    	<div class="control-group">
    		<div class="control-group">
    			<div class="controls">
    			</div>
    		</div>
    		<div class="controls">
    		</div>
    	</div>
    </div>
