<h1 class="text-center">
	Crowd Control
</h1>
<div class="hero-unit">
	<h1>
		Floor Analytics
	</h1>
	<p>
		Hey <%= @dj.name %>, here's the word on the street
	</p>
	
	<div class="alert">
		<h3>They tweeted you!</h3>
		<p>#couplesname - request</p>
	</div>
	
	<h3>Charts</h3>
	
	<% @couples.each do |couple| %>
		<%= link_to couple.name, get_chart_path(name: couple.name, voter_name: @dj.name), :remote => true %><br>
	<% end %>
	
	<div id="chart_body">
	</div>
</div>
