    <h1 class="text-center">
    	Crowd Control
    	<br>
    </h1>
    <div class="hero-unit">
    	<h1>
    		The Request Line
    		<br>
    	</h1>
    	<p>
    		Make a request, rate a request. <br>
    		Welcome <%= @guest_name %>. Have fun at <%= @couple.name %>'s party, <%= @dj.name %> is rocking it!
    	</p>
    	<div class="well jetstrap-highlighted">
    		<h3>
    			What's been requested so far:
    			<br>
    		</h3>
    		<table class="table">
    			<tbody>
    				<tr>
    					<td>
    						Pitbull - Don't Stop the Party
    						<br>
    					</td>
    					<td>
    						<a class="btn">+1</a>
    						<br>
    					</td>
    				</tr>
    			</tbody>
    			<thead>
    				<tr>
    					<th>
    						Artist - Song Title
    					</th>
    					<th>
    						You Like?
    						<br>
    					</th>
    				</tr>
    			</thead>
    		</table>
    	</div>
    	<div class="control-group">
    		<label class="control-label">
    			Add a new song (Artist - Song Title):
    		</label>
    		<div class="controls">
    			<input class="" type="text">
    		</div>
    	</div>

    	<a class="btn">Pretty please?!</a>
    </div>
