    <h1 class="text-center">
    	Crowd Control
    	<br>
    </h1>
    <div class="hero-unit">
    	<h1>
    		Come on in
    	</h1>
    	<p>
    		Are you on the list? Couples and DJs, 
    		<%= link_to 'please signup', new_user_registration_path %>.
    		Guests, enter your name and the couple's password.
    	</p>
    	<div class="control-group">
    		<label class="control-label">
    			Who you be?
    		</label>
    		<div class="controls">
    			<select id = "guestType">
    				<option value="couple">
    					The VIPs
    				</option>
    				<option value="guest">
    					Party Person
    				</option>
    				<option value="DJs">
    					Le DJ
    				</option>
    			</select>
    		</div>
    	</div>
    	<div id="guestName" class="control-group">
    		<label class="control-label">
    			What's your name?
    		</label>
    		<div class="controls">
    			<input placeholder="John Doe" type="text">
    		</div>
    	</div>
    	<div class="control-group">
    		<label class="control-label">
    			What's the magic word?
    		</label>
    		<div class="controls">
    			<input placeholder="It's not please" id="password" type="text">
    		</div>
    	</div>
    	<a id="loginButton" href="couples.html" target="" class="btn">Let me in!</a>
    	
    </div>
    
    <script>
    	function checkValue() {
    		var loginType = $( "#guestType").val();
    		var loginDestination;

    		if (loginType === "guest"){
    			loginDestination = "guests.html";
    			$( "#guestName").fadeIn();
    		}
    		else if (loginType === "couple"){
    			loginDestination = "couples.html";
    			$( "#guestName").fadeOut();
    		}
    		else{
    			loginDestination = "djs.html";
    			$( "#guestName").fadeOut();
    		}
    		
    		$( "#loginButton").attr("href", loginDestination);
    	}
    
		$(function() {
			$(" #guestName").hide();
			$(" #guestType").change(checkValue);
		});
    </script>