<h1>Show artist</h1>
<p>
<h2>Artist</h2>
<%= @artist.name %>
<h2>Alternative Names</h2>
<% @artist.alt_names.each do |a| %>
	<%= a.alt_name %><br>
<% end %>
<h2>Songs</h2>
<% @artist.songs.each do |as| %>
	<%= as.title %><br>
<% end %>
<p>Find me in app/views/artists/show.html.erb</p>
