<%= form_for(@alt_name) do |f| %>
  <% if @alt_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@alt_name.errors.count, "error") %> prohibited this alt_name from being saved:</h2>

      <ul>
      <% @alt_name.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :alt_name %><br>
    <%= f.text_field :alt_name %>
    
    <%= f.label :diff_nameable_type %><br>
    <%= f.text_field :diff_nameable_type %>
    
    <%= f.label :diff_nameable_id %><br>
    <%= f.text_field :diff_nameable_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
