<%= form_for(@song) do |song_form| %>
	<% if @song.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

			<ul>
			<% @song.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<%= song_form.fields_for :artist do |an| %>
		<p>
			<%= an.label "Artist Name" %>
			<%= an.text_field :name %>
		</p>
		<%= an.fields_for :alt_name do |artist_alt_name| %>
			<p>
				<%= artist_alt_name.label "Alternative Name" %>
				<%= artist_alt_name.text_field :alt_name %>
			</p>
		<% end %>
	<% end %>

	<p>
		<%= song_form.label :title %>
		<%= song_form.text_field :title %>
	</p>
	
	<%= song_form.fields_for :alt_name do |song_alt_name| %>
		<p>
			<%= song_alt_name.label "Alternative Title" %>
			<%= song_alt_name.text_field :alt_name %>
		</p>
	<% end %>
	
  	<div class="actions">
    	<%= song_form.submit %>
  	</div>
<% end %>
