$tableBackgroundAccent: snow;

@import "bootstrap";
.hero-unit a {
	color: mediumblue;
}
h2 {
	font-size: 36pt;
	color: black;
}
body {
	background-color: linen;
}
.hero-unit {
	color: black;
	background-color: #E6A332;
	-moz-box-shadow: 0px 4px 10px 1px gray;
    -webkit-box-shadow: 0px 4px 10px 1px gray;
    box-shadow: 0px 4px 10px 1px gray;

}
.well a {
	color: mediumblue;
}
.well .btn{
	color: white;
}
.well{
	background-color: linen;
	border: 0pt;
}
.btn {
	@extend .btn-info;
}
table {
	@extend .table;
	@extend .table-hover;
}
.span2 {
	text-align: center;
}